<%- include('page_header') %>
    <div class="card card-body border border-3"
        style="height: 500px; width: 1000px; margin-left: 220px; margin-top: 80px;">
        <div class="row justify-content-center">
            <div class="col-lg-9 mt-3">
                <h1 class="mb-3 text-center">ລົງທະບຽນ</h1>
                <form method="post">
                    <div class="row g-3 mt-5">
                        <div class="col-md-6">
                            <label for="your-name" class="form-label">ຊື່</label>
                            <input type="text" class="form-control" name="name" value="<%= seller.name %>" required>
                        </div>
                        <div class="col-md-6">
                            <label for="your-name" class="form-label">ນາມສະກຸນ</label>
                            <input type="text" class="form-control" name="surname" value="<%= seller.surname %>" required>
                        </div>
                        <div class="col-md-6">
                            <label for="your-name" class="form-label">ເບີໂທ</label>
                            <input type="text" class="form-control" name="tel" value="<%= seller.tel %>" required>
                        </div>
                        <div class="col-md-6">
                            <label for="your-surname" class="form-label">ຊື່ຜູ້ໃຊ້</label>
                            <input type="text" class="form-control" name="usr" value="<%= seller.usr %>" required>
                        </div>
                        <div class="col-md-6">
                            <label for="your-email" class="form-label">ລະຫັດຜ່ານ</label>
                            <input type="password" class="form-control" name="pass" value="<%= seller.pass %>" required>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success w-100 fw-bold">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('page_footer') %>