<%- include('page_header') %>
    <section class="vh-100 mt-5">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col">
                    <p><span class="h2">Shopping Cart </span>

                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <% products.forEach((p)=> { %>
                                <div class="row align-items-center mb-4">
                                    <div class="col-md-2">
                                        <img src="images/<%= p.img %>" class="img-fluid"
                                            alt="Generic placeholder image">
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Name</p>
                                            <p class="lead fw-normal mb-0">
                                                <%= p.name %>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-2 d-flex justify-content-center" style="width: 180px;">
                                        <form action="/minus/<%= p.id %>" method="POST">
                                            <button class="btn btn-link px-2" type="submit">
                                                <span class="material-symbols-outlined material-icon nav-link">
                                                    remove
                                                </span>
                                            </button>
                                        </form>
                                        <input id="form1" min="-1" name="quantity" value="<%= p.qty %>" type="number"
                                            class="form-control form-control-sm text-center" id="quantityInput" />
                                        <form action="/plus/<%= p.id %>" method="POST">
                                            <button class="btn btn-link px-2" type="submit">
                                                <span class="material-symbols-outlined material-icon nav-link">
                                                    add
                                                </span>
                                            </button>
                                        </form>
                                    </div>


                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Price</p>
                                            <p class="lead fw-normal mb-0">
                                                <%= new Intl.NumberFormat('th-TH', { style: 'decimal' }).format(p.price)
                                                    %> Kip
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Total</p>
                                            <p class="lead fw-normal mb-0" id="amount">
                                                <%= new Intl.NumberFormat('th-TH', { style: 'decimal' }).format(p.qty *
                                                    p.price) %> Kip
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="lead fw-normal mb-0" id="amount">
                                                <a href="/deleteItemCart/<%= p.id %>"
                                                    class="material-symbols-outlined mt-5 material-icon nav-link"
                                                    style="cursor: pointer;">
                                                    delete
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>


                    <div class="card mb-5">
                        <div class="card-body p-4">

                            <div class="float-end">
                                <p class="mb-0 me-5 d-flex align-items-center">
                                    <span class="small text-muted me-2">Items total:</span>
                                    <span class="lead fw-normal me-5">
                                        <%= totalQty %> Pices
                                    </span>
                                    <span class="small text-muted me-2">total price:</span>
                                    <span class="lead fw-normal">
                                        <!-- <%= totalPrice %> Kip -->
                                        <%= new Intl.NumberFormat('th-TH', { style: 'decimal' }).format(totalPrice) %>
                                            Kip
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex justify-content-end mb-3">
                        <a type="button" class="btn btn-light btn-lg me-2" href="/">Continue shopping</a>
                        <a type="button" class="btn btn-primary btn-lg" href="/confirmOrder">Confirm</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <%- include('page_footer') %>