<%- include('header') %>
    <section class="vh-100 mt-5">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col">
                    <p><span class="h2">Order Detail</span>

                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <% orderdetail.forEach((orderdetail)=> { %>
                                <div class="row align-items-center mb-4">
                                    <div class="col-md-2">
                                        <img src="../images/<%= orderdetail.img %>" class="img-fluid"
                                            alt="Generic placeholder image">
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Product</p>
                                            <p class="lead fw-normal mb-0">
                                                <%= orderdetail.name %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Barcode</p>
                                            <p class="lead fw-normal mb-0">
                                                <%= orderdetail.barcode %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Price</p>
                                            <p class="lead fw-normal mb-0">
                                                <%= new Intl.NumberFormat('th-TH', { style: 'decimal' }).format(orderdetail.price)
                                                    %> Kip
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Quantity</p>
                                            <p class="lead fw-normal mb-0">
                                                <%= orderdetail.qty %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-flex justify-content-center">
                                        <div>
                                            <p class="small text-muted mb-4 pb-2">Total</p>
                                            <p class="lead fw-normal mb-0" id="amount">
                                                <%= new Intl.NumberFormat('th-TH', { style: 'decimal' }).format(orderdetail.qty *
                                                orderdetail.price) %> Kip
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>


                    <div class="card mb-5">
                        <div class="card-body p-4">

                            <div class="float-end">
                                <p class="mb-0 me-5 d-flex align-items-center">
                                    <span class="small text-muted me-2">Total Item:</span>
                                    <span class="lead fw-normal me-5">
                                        <%= totalQty %> Pices
                                    </span>
                                    <span class="small text-muted me-2">total price:</span>
                                    <span class="lead fw-normal">
                                        <%= new Intl.NumberFormat('th-TH', { style: 'decimal' }).format(totalPrice) %>
                                            Kip
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer') %>