<%- include('page_header') %>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <% pro.forEach((p)=> { %>
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-5">
                        <img class="card-img-top mb-5 mb-md-0" src="/images/<%= p.img %>" alt="...">
                    </div>
                    <div class="col-md-7 col-lg-7">
                        <h3 class="display-5 fw-bolder">
                            <%= p.name %>
                        </h3>
                        <span class="small mb-1 me-5">ລະຫັດສິນຄ້າ: <%= p.id %></span>
                        <span class="small mb-1">ປະເພດສິນຄ້າ: <%= p.group_product_name %></span>
                        <div class="fs-5 mb-3 mt-3">
                            <span class="me-5">ລາຄາ <%= new Intl.NumberFormat('th-TH', { style: 'decimal'
                                    }).format(p.price) %>
                                    ກີບ</span>
                            <span>ສິນຄ້າທັງໝົດ: <%= p.stock_qty %> </span>
                        </div>
                        <p class="lead">
                            <%= p.detail %>
                        </p>
                        <div class="d-flex">
                            <a class="btn btn-outline-danger flex-shrink-0" href="/addToCart/<%= p.id %>">
                                <i class="bi-cart-fill me-1"></i>
                                ເພິ່ມໃສກະຕ່າ
                            </a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </section>

    <% if(product !==undefined) { %>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4 text-center mb-5">ສິນຄ້າປະເພດດຽວກັນ</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% product.forEach((p)=> { %>
                        <div class="col mb-5">
                            <a class="card nav-link" style="cursor: pointer;" href="/proDetail/<%= p.id %>" id="card">
                                <!-- Product image-->
                                <img class="card-img-top" src="/images/<%= p.img %>">
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder text-truncate" style="max-width: 250px;">
                                            <%= p.name %>
                                        </h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product price-->
                                        <span class="card-text text-danger fw-bolder float-start">
                                            <%= new Intl.NumberFormat('th-TH', { style: 'decimal' }).format(p.price) %>
                                                ກີບ
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                </div>
            </div>
        </section>
        <% } %>
            <%- include('page_footer') %>