<%- include('header') %>
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title mb-5">
                    <h3>
                        ລາຍງານຍອດຂາຍ ລາຍວັນ
                    </h3>
                </div>
                <form action="" method="get">
                    <div class="row">
                        <div class="col-1">ປີ</div>
                        <div class="col-2">
                            <select class="form-control" name="year">
                                <% arrYear.reverse().forEach((item)=> { %>
                                    <option value="<%= item %>" <% if (item==y) { %> selected <% } %>>
                                            <%= item %>
                                    </option>
                                    <% }) %>
                            </select>

                        </div>
                        <div class="col-1">ເດືອນ</div>
                        <div class="col-2">
                            <select class="form-control" name="month">
                                <% arrMonth.forEach((item, index)=> { %>
                                    <option value="<%= index + 1 %>" <% if (index + 1==m) { %> selected <% } %>>
                                            <%= item %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <div class="mt-3 mb-3">
                            <button class="btn btn-success" type="submit">ສະແດງຜົນ</button>
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ວັນທີ</th>
                            <th scope="col" class="text-end">ຍອດລວມ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% arr.forEach((item, index)=> { %>
                            <% if (item !==0) { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td class="text-end">
                                        <%= new Intl.NumberFormat('th-TH', { style: 'decimal' }).format(item) %> Kip
                                    </td>
                                </tr>
                                <% } %>
                                    <% }) %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <%- include('footer') %>